body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body,
caption,
a,
div,
section,
article,
main,
header,
footer,
ul,
li,
ol {
  margin: 0;
  padding: 0;
  border: 0;
}
ul,
ol {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font: inherit;
  outline: initial;
  padding: 0;
}

li {
  margin: 1ex 0;
}